:root {

  --color-violet: #814de5;
  --color-fucsia: #d34de5;
  --color-pink: #e54da5;
  --color-red: #e54d52;
  --color-orange: #e59a4d;
  --color-lime: #cae54d;

  --color-primary: var(--color-violet);
  --color-secondary: var(--color-pink);
  --color-highlight: var(--color-lime);

  --color-black: #000;
  --color-white: #fff;
  --color-gray-darkest: #333;
  --color-gray-darker: #555;
  --color-gray-dark: #808080;
  --color-gray: #b9b9b9;
  --color-gray-light: #e5e5e5;
  --color-gray-lighter: #f7f7f7;

  --accent-color: var(--color-pink);
  --color-success: #6de24d;
  --color-warning: var(--color-lime);
  --color-error: var(--color-red);
}
