@import url("https://fonts.googleapis.com/css?family=Lora:300,400,700");

:root {
  --default-kit: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Font familes */
  --font-family-base: "Lora", var(--default-kit);
  --font-family-headings: "Lora", var(--default-kit);

  --text-size: 20px;
  --text-line-height: 30px;
  
  /* Font weights */
  --fextrabold: 800;
  --fbold: 700;
  --fmedium: 500;
  --fregular: 400;
  --flight: 300;
  --fthin: 100;
}
