:root {
  --body-bg:                       var(--color-white);
  --text-color:                    var(--color-gray-darkest);
  
  --link-color:                    var(--color-primary);
  --link-decoration:               none;
  --link-hover-color:              var(--color-lime);
  --link-hover-decoration:         none;
  
  --container-width:               1215px;
  --padding:                       2.5rem;

  --animation-speed:               .1s;
}
