.text-small {
  font-size: 0.8rem;
  margin-top: 3px;
}

/**
 * Accessibility
 */

/*
 * Hide only visually, but have it available for screen readers:
 * @link https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
 .sr-only,
 .visually-hidden {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   white-space: nowrap; /* 1 */
   width: 1px;
 }
 
 /*
  * Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard
  * @link https://www.drupal.org/node/897638
  */
 .visually-hidden.focusable:active,
 .visually-hidden.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   white-space: inherit;
   width: auto;
 }
 
 
 /**
  * Remove all animations and transitions for people that prefer not to see them
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }
 
 /**
  * Clear any floats
  */
 .clearfix::before,
 .clearfix::after {
   display: table;
   content: " ";
 }
 
 .clearfix::after {
   clear: both;
 }