@define-mixin container {
  margin: 0 auto;
  width: var(--container-width);

  @mixin md {
    width: 100%;
  }
}

@define-mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }

  & {
    *zoom: 1;
  }
}

@define-mixin fhd {
  @drupal-breakpoint fhd_1x {
    @mixin-content;
  }
}

@define-mixin wd {
  @drupal-breakpoint wd_1x {
    @mixin-content;
  }
}

@define-mixin dk {
  @drupal-breakpoint dk_1x {
    @mixin-content;
  }
}

@define-mixin lg {
  @drupal-breakpoint lg_1x {
    @mixin-content;
  }
}

@define-mixin md {
  @drupal-breakpoint md_1x {
    @mixin-content;
  }
}

@define-mixin sm {
  @drupal-breakpoint sm_1x {
    @mixin-content;
  }
}
