@define-mixin make-grid $cols, $gap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($cols, 1fr));
  grid-gap: $gap;
}

@define-mixin make-button {
  border: 0;
  padding: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-weight: var(--fextrabold);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: all var(--animation-speed) ease-out;

  &:hover {
    background-color: var(--color-primary);
    text-decoration: none;
    color: var(--color-white);
  }

  &.btn-inverted {
    border-radius: 3px;
    background: var(--color-white);
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-white);
    }
  }
}

@define-mixin make-body $font-size: var(--text-size), $line-height: var(--text-line-height) {
  p, ul li, ol li {
    color: var(--text-color);
    font-weight: var(--fregular);
    font-size: var(--text-size);
    line-height: var(--text-line-height);
  }

  ol {
    list-style: decimal;
  }

  img {
    width: 100%;
    margin: 1rem 0;
  }
}

@define-mixin make-icon $name, $wd: 32px, $ht: 32px {
  display: inline-block;
  width: $wd;
  height: $ht;
  background: url(../images/icons/$name) no-repeat 0 0;
  background-size: cover;
  text-indent: -5000rem;
}

@define-mixin aspect-ratio($width, $height) {
  position: relative;
  
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
  