.block-system-branding-block {
  a {
    font-size: 24px;
    color: var(--color-violet);
    display: block;
  }

  .name {
    display: none;
  }

  img {
    max-width: 100%;
  }
}

.language-switcher-language-url {}
