.path-frontpage {}

.field--name-body,
.field--body {
  @mixin make-body;
}

.field--label-inline > div {
  display: inline-block;
}

.views-exposed-form {
  display: flex;

  > .form-item, > .form-actions {
    flex: auto;
  }
}

body:not(.fluid-layout) .region {
  &:not(.region-before_content) {
    >.inner {
      @mixin container;
      padding: 1rem 0;
    }
  }
}

div#sliding-popup, div#sliding-popup .eu-cookie-withdraw-banner, .eu-cookie-withdraw-tab {
  background: var(--color-orange);

  .eu-cookie-compliance-content {
    @mixin container;
    max-width: 100%;
  }
  .eu-cookie-compliance-message {
    margin: 1rem 0 .8rem;
    h1, h2, h3, h4 {
      font-weight: 400;
      text-transform: none;
      font-size: 18px;
      margin-bottom: 0;
    }
    p {
      font-weight: 400;
    }
    .find-more-button {
      color: var(--color-white);
      font-size: 12px;
    }
  }

  .eu-cookie-compliance-buttons {
     margin: 1rem 0 .2rem;

    > button {
      margin-top: 0;
    }
    .agree-button {
      background: var(--color-white);
      padding: .5rem 1rem;
      color: var(--color-orange);
      text-transform: uppercase;
    }
    .decline-button {
      background: transparent;
      color: var(--color-orange);
      font-weight: 400;
      text-shadow: none;
      border: 0;
      box-shadow: none;
      font-size: 14px;
    }
  }
}

div[data-drupal-messages] {
  width: 100%;
  z-index: 93;
  padding: 1rem;
  background: var(--color-red);
  color: var(--color-white);

  >div {
    width: var(--container-width);
    margin: 0 auto;
  }
}

.breadcrumb-wrapper {
  margin-bottom: 1rem;
  ul {
    display: flex;

    li {
      color: rgba(var(--color-primary), .5);
      font-size: 14px;

      a,
      a:visited {
        color: var(--color-primary);
        text-decoration: none;
      }

      &:not(:last-child)::after {
        content: "»";
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
}

.contact-message-feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > .form-item-name {
    order: 1;
  }
  > .form-item-mail {
    order: 2;
  }
  > .field--name-message {
    order: 3;
    flex: 0 0 100%;
  }
  > .field--name-field-privacy {
    order: 4;
  }

  .form-actions {
    order: 5;
    .btn-primary {
      background: var(--color-blue);
      border: 0;
      text-transform: uppercase;
      color: var(--color-white);
      font-size: 14px;
      padding: .5rem 3rem;
    }
  }
}

.palta-back-to-top {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9;
  transition: opacity var(--animation-speed) ease-out;
  pointer-events: none;

  .palta-back-to-top-show & {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}