footer[role="contentinfo"] {
  background: var(--color-violet);

  .field--name-body {
    @mixin make-body;
  }
}

.region-footer {
  >.inner {
    @mixin container;
    padding: 2rem 0 1rem;
    display: flex;

    > div {
      flex: 1;
    }
  }
}

.region-footer_bottom {
  background: var(--color-fucsia);

  >.inner {
    @mixin container;
    padding: 1rem 0;
  }
}
