.region-header {
  background-color: var(--color-white);
  transition: background-color var(--animation-speed) ease-out;

  > .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 6px;
  }
}

body.scrolled, body:not(.path-frontpage) {
  .region-header {

  }
}

.block-page-title-block {
  @mixin container;
}

.block-system-branding-block {
  a {
    font-size: 24px;
    color: var(--color-primary);
    display: block;
    width: 200px;
  }
  .name {
    display: none;
  }
}
