.block-local-tasks-block {

  nav {
    @mixin container;
    border-bottom: 1px solid var(--color-gray-dark);
    z-index: 2;
  }
  
  ul {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;

    li {
      margin-right: 1rem;
    }

    a {
      display: inline-block;
      padding: .5rem;
      font-size: 11px;
      letter-spacing: .3px;
      color: var(--color-gray-dark);
      text-transform: uppercase;

      &.is-active, &:hover {
        color: var(--color-secondary);
        background-color: transparent;
      }
    }
  }
}
