.main-menu {
  width: 60%;

  > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    > li {
      flex: 1 1 auto;
    }

    a,
    span {
      color: var(--color-primary);
      text-decoration: none;
      font-weight: var(--fextrabold);
      text-transform: uppercase;
      cursor: pointer;
      padding: .5rem;

      &:hover, &.is-active {
        text-decoration: none;
        border-bottom: 3px solid var(--color-primary);
      }
    }
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 2;

  >.menu-toggle {
    position: absolute;
    top: 2rem;
    right: 1rem;
    z-index: 1;

    >button {
      width: 50px;
      height: 50px;
      background-color: var(--color-white);
      mask-image: url("../images/icon_mobilemenu_open.svg");
      mask-repeat: no-repeat;
    }
  }


  >.inner {
    background-color: rgba(var(--color-white), .95);
    height: 100vh;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    opacity: 0;
    transition: width .3s ease-in-out, opacity .3s ease-in-out;
  }

  .block-system-branding-block {}
}

body.mobile-menu-show {
  .mobile-menu {
    >.inner {
      opacity: 1;
      width: 95%;
    }

    >.menu-toggle>button {
      background-color: var(--color-blue);
      mask-image: url("../images/icon_mobilemenu_close.svg");
      mask-repeat: no-repeat;
    }
  }
}
