[data-drupal-selector="user-login-form"] {
  width: 40%;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

body[class*="context-user-"].user-logged-in {
  .block-system-main-block {
    @mixin container;
    margin: 1rem auto 4rem;
  }
}

.path-user {
  .block-system-main-block > .inner {
    @mixin container;
  }
}

.user-role-anonymous .block-local-tasks-block {
  display: none;
}
