/** Base styles for html elements and Drupal related elements **/

/* Accent color snippet from https://web.dev/accent-color/#extra:-more-tinting */
html {
  scrollbar-color: var(--accent-color);
}
:focus-visible { 
  outline-color: var(--accent-color); 
}
::selection { 
  background-color: var(--color-lime); 
}
::marker { 
  color: var(--accent-color); 
}

:is(
  ::-webkit-calendar-picker-indicator,
  ::-webkit-clear-button,
  ::-webkit-inner-spin-button, 
  ::-webkit-outer-spin-button
) {
  color: var(--accent-color);
}

body {
  background: var(--body-bg);
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-size: rfs(1rem);
  line-height: 1.5;
}

h1,
h2 {
  font-family: var(--font-family-headings);
  font-weight: var(--fextrabold);
  color: var(--color-primary);
  margin-bottom: 1rem;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  font-weight: var(--fextrabold);
  font-size: 25px;
  color: var(--color-primary);
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: var(--link-decoration);
}
a:active,
a:focus,
a:hover {
  color: var(--link-hover-color);
  text-decoration: var(--link-hover-decoration);
}
