button,
html input[type="button"],
input[type="reset"],
input[type="submit"], .btn {
  @mixin make-button;
}

.form-group {
  margin-bottom: 1rem;

  .description {
    display: none;
  }
}

.form-control {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  padding: .5rem;
  font-size: 1rem;

  &.form-textarea {
    border-top: 1px solid var(--color-secondary);
    height: 100px;
  }
}

.control-label {
  display: block;
  margin-bottom: .5rem;
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 400;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  color: var(--color-black);
  padding: 1rem;
  font-size: 14px;
  line-height: 16px;
  border: 0.5px solid var(--color-primary);
  border-radius: 3px;
  outline: none;
  accent-color: var(--accent-color);
}

[data-drupal-selector="password-confirm-message"] {
  font-size: 12px;
  margin-top: 10px;
}

select.form-control {
  padding: .9rem 2rem .9rem 1rem;
  font-size: 14px;
  line-height: 16px;
  border: 0.5px solid var(--color-primary);
  border-radius: 3px;
  /*
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background: transparent;
  background-image: url(../images/dropdown-icona.svg);
  background-repeat: no-repeat;
  background-position-x: 92%;
  background-position-y: 50%;*/
  outline: none;
  width: 100%;
}

.form-type-checkbox label {
  display: inline-block;
}

.form-item--error-message {
  font-size: 14px;
  line-height: 19px;
  margin: 10px 0;

  &.alert-danger {
    color: var(--color-red);
  }
}

.form-item--error-message.alert-danger {
  color: var(--color-red);
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
  position: relative;
  padding-left: 1.7em;
  line-height: 1.3;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid var(--color-primary);
  background: var(--color-white);
  border-radius: 3px;
  transition: all .275s;
}

[type="checkbox"]:checked+label:before {
  background-color: var(--color-primary);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  content: '\2713';
  position: absolute;
  top: 0.70em;
  left: .24em;
  font-size: .9em;
  font-weight: bold;
  color: var(--color-white);
  line-height: 0;
  transition: all .2s;
}


/* checked mark aspect changes */
[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
}

[type="checkbox"]:checked+label:after {
  opacity: 1;
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked)+label:before,
[type="checkbox"]:disabled:checked+label:before {
  box-shadow: none;
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

[type="checkbox"]:disabled:checked+label:after {
  color: var(--color-primary);
}

[type="checkbox"]:disabled+label {
  color: var(--color-primary);
}

/* Accessibility */
[type="checkbox"]:checked:focus+label:before,
[type="checkbox"]:not(:checked):focus+label:before {

}
