{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb and breadcrumb|length > 1 %}
  <nav role="navigation" aria-labelledby="system-breadcrumb" class="breadcrumb-wrapper" aria-label="breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ul class="breadcrumb">
      {% for item in breadcrumb %}
        {% if item.url %}
        <li class="breadcrumb-item">
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% else %}
          <li class="breadcrumb-item active">
           {{ item.text }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}
