{%
  set classes = classes ?: [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
  'field--label',
  label_display == 'visually_hidden' ? 'sr-only',
]
%}

{% set item_classes = item_classes ? item_classes %}

{% set label_class = label_class ?: 'field__label' %}

{% set label_element_tag = label_element_tag ?: 'div' %}

{% set wrapper_element_tag = wrapper_element_tag ?: 'div' %}

{% set element_tag = element_tag ?: 'div' %}

{% block content %}
  {% if label_hidden %}
    {% if multiple %}
      <{{ wrapper_element_tag }}{{ attributes.addClass(classes) }}>
        {% for item in items %}
          {#<{{ element_tag }}{{ item.attributes.addClass(item_classes) }}>#}{{ item.content }}{#</{{ element_tag }}>#}
        {% endfor %}
      </{{ wrapper_element_tag }}>
    {% else %}
      {% for item in items %}
        <{{ element_tag }}{{ attributes.addClass(classes) }}>{{ item.content }}</{{ element_tag }}>
      {% endfor %}
    {% endif %}
  {% else %}
    <{{ wrapper_element_tag }}{{ attributes.addClass(classes) }}>
      <{{ label_element_tag }}{{ title_attributes.addClass(label_class).addClass(title_classes) }}>{{ label }}</{{ label_element_tag }}>
      {% for item in items %}
        <{{ element_tag }}{{ item.attributes.addClass(item_classes) }}>{{ item.content }}</{{ element_tag }}>
      {% endfor %}
    </{{ wrapper_element_tag }}>
  {% endif %}
{% endblock content %}
